
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<MyBlog.AdminBlog.ViewModel.Classifications.ClassificationViewModel>
<section class="content-header">
    <h1>
        分类
        <small> @ViewData["Title"]</small>
        <button type="button" style="float:right" class="btn btn-primary" data-toggle="modal" data-target="#create-classification">添加</button>
    </h1>
</section>
<section class="content">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>内容</td>
                <td>创建时间</td>
                <td>修改时间</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Content</td>
                    <td>@item.CreateTime</td>
                    <td>@item.ModificationTime</td>
                    <td>
                        <from>
                            <a style="color:black" href="javaScript:void(0)" onclick="getUpdate(@item.Id)"><i class="glyphicon glyphicon-edit" ></i></a>
                            <i>|</i>
                            <a style="color:red" href="javaScript:void(0)" onclick="getDelete(@item.Id)"><i class="glyphicon glyphicon-trash"></i></a>
                        </from>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@Html.Partial("_Create")
<div id="showModel"></div>

<script>

    function getUpdate(id) {
        $.ajax({
            url: "/Classification/Update",
            method: "post",
            data: {
                id: id
            },
            success: function (data) {
                $("#showModel").html(data)
            }
        })
    }
    function getDelete(id){
        $.ajax({
            url: "/Classification/Delete",
            method:"post",
            data: {
                id:id
            },
            success: function (data) {
                $("#showModel").html(data)
            }
        })
    }
</script>