
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/css/blog/Update.css" rel="stylesheet" />
}

@model MyBlog.AdminBlog.ViewModel.Blogs.EditViewModel
<section class="content-header">
    <h1>
        博文编辑
        <small> @ViewData["Title"]</small>
    </h1>
</section>
<section class="content">
    <form>
        <div class="edit-input-group">
            <div class="input-group" id="titlediv">
                <span class="input-group-addon" id="title-label">标题</span>
                <input type="text" class="form-control" placeholder="标题" aria-describedby="basic-addon1" id="title" required="required" value="@Model.Title">
            </div>

            <div class="input-group" id="classified">
                <span class="input-group-addon">分类</span>
                <select class="form-control" id="classify">
                    @foreach (var item in Model.ClassifyList)
                    {
                        if (Model.ClassifyId == item.Id)
                        {
                            <option value="@item.Id" selected="selected">@item.Content</option>

                        }
                        else
                        {
                            <option value="@item.Id">@item.Content</option>
                        }
                    }
                </select>

            </div>
        </div>
        <div class="input-group edit-body-content">
            <span class="input-group-addon" id="basic-addon1">内容</span>
            @Html.TextAreaFor(m=>m.Content,new {@id="container" })
        </div>

        <div class="button-group">
            <button type="button" class="btn btn-info " onclick="SubmitData(@Model.Id)">保存</button>
            <button type="reset" class="btn btn-primary clear" onclick="Publish(@Model.Id)">发布</button>
            <button type="reset" class="btn btn-danger clear" onclick="BlogDelete(@Model.Id)">删除</button>
        </div>
    </form>
</section>


<div id="showModel"></div>
<script src="~/js/blog/update.js"></script>

